<div class="container" >
   <app-git></app-git>
</div>

<!-- <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="navbar-header">
         <div class="row">
            <div class="col-md-6">
               <a class="navbar" href="#" class="btn btn-primary">GIT</a>
            </div>
            <div class="col-md-6">
               <a class="navbar" href="#" class="btn btn-success" target="blank">SEARCH</a>
            </div>

         </div>



      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li><a routerLink='/git' routerLinkActive='active'>Git</a></li>
            <li><a routerLink='/search' routerLinkActive='active'>Search</a></li>

         </ul>

      </div>

   </div>

</nav>
<router-outlet></router-outlet> -->
