<div *ngIf="user">
   <div class="panel panel-info">
      <div class="panel-heading">
         <h1>{{user.name}}</h1>
         <h2><a href="{{user.html_url}}">{{user.login}}</a></h2>



      </div>

   </div>

</div>
<div class="panel-body">
   <div class="row">
      <div class="col-sm-3">
         <img src="{{user.avatar_url}}" class="img-circle img-responsive ">
         <div>
            <p>
               <br><span class="panel panel-info"><a href="{{user.followers_url}}">{{user.followers}} followers</a></span>
               <br><span class="label label-success"><a href="{{user.followings_url}}">Following {{user.following}}</a></span>
               <br><span class="label label-primary">{{user.public_repos}} Public Repositories</span>

            </p>
         </div>






      </div>



   </div>

</div>
