<body style="background-color: maroon;">
<form class="search-form">
   <div class="form-group">
      <div class="row">
         <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Search git users with username"[(ngModel)]="username" name="username" (keyup)="findProfile()">
         </div>

      </div>

   </div>


</form>
<div class="container">
   <div *ngIf="user">
      <div class="panel panel-info">
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <h1>{{user.name}}</h1>
                  <h2><a href="{{user.html_url}}" style="font-style: italic;">{{user.login}}</a></h2>
               </div>

            </div>




         </div>

      </div>

   </div>
   <div class="panel-body">
      <div class="row">
         <div class="col-sm-3">
            <img src="{{user.avatar_url}}" class="img-circle img-responsive " >
            </div>
            <div class="col-sm-12" >

                  <p ><a href="{{user.followers_url}}" style="font-size: 20px;">{{user.followers}} followers</a></p>
                  </div>
                  <div class="col-sm-12">
                     <p class="label label-success"><a href="{{user.followings_url}}" style="font-size: 20px;"> {{user.following}} Following</a></p>
                  </div>
                  <div class="col-sm-12">
                     <p class="label label-primary" style="font-size: 20px;">{{user.public_repos}} Public Repositories</p>
                  </div>





            <div class="panel-title">
               <div class="col-md-19">
               <h2>REPOS</h2>

               <div class="panel-body" *ngFor="let repo of repos">

                     <br><p><a href="{{user.repo_url}}" style="font-size: 25px;">{{repo.name}}</a></p>


                        <p style="font-size: 20px;">{{repo.description}}</p>
                        </div>
                        </div>








            </div>










      </div>

   </div>
</div>
</body>
